body {
    background-color: #222222;
}

.container{
	
	margin:0 auto;
	max-width: 700px;
	text-align: center;
}


.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 10px 22px;
    border: 1px solid #a12727;
    border-radius: 12px;
    background: #fe0000;
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 30px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    background: #fe0000;
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #fe0000;
}
